/*iniciamos css*/
*{
    margin: 0;
    padding: 0;
   /*border: grey 1px dotted;*/ 
}

                                /*Propiedades del body TODAS LAS PAGINAS*/

body{
    color: #4f4f4f;
    font-style: normal;
    font-weight: normal;
    font-size: 120%;
    background-color: lavender;
    width: 100%;
    
    
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
/*------------------------------------------NAV-----------*/

header{
    width: 100%;
    height: 100%;
    grid-area: banner;
}

article{
    width: 100%;
    height: 100%;
    grid-area: buscador;
}

.display{
    background-image: url('media/luces.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 80px;
    top: 70px;
    
    

    
}

.display h1{
    font-size: 2rem;
    color: lavender;
    max-width: 100%;
    padding: 15px;
    align-self: center;
    margin-top: 70px;
    
}

.display h1 span{
    background-color: black;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center; 
    
}

/*MENU PRUEBA*/

.logo img{
    width: 50%;
    height: 100%;
    max-width: 150px;
    margin: 0px;
}

nav{
    background-color: black;
    color: lavender;
    width: 100%;
    height: 80px;
    
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    grid-area: nav;
    
}

.menu{
    width: 100%;
    display: none;
}

.burger img{
    width: 100%;
    max-width: 60px;
}
article{
    
    height: 100%;
    position: sticky;
    top: 70px;
    
}
.buscador{
    background-color: lavender;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    
    grid-area: buscador;
    margin: 0px;
    padding: 30px;
}

.cajaBuscador{
    width: 100%;
    height: 40px;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    text-align: center;
    background-color: #FEC700;
    border-radius: 10px;
    border: orange solid 3px;

}

/*tarjetas servicios*/

.tarjetas{
    display: grid;
    margin: 10px;
    margin-top: 80px;
    padding: 20px;
    grid-area: banner;
    

    
    
}

.tarjetas__centrado{
    display: flex wrap   ;
    flex-direction: row  ;
    justify-content: center;
    
    
}


.tarjetas__tamano{
    border: 0px;
    border-radius: 20px ;
    margin: 15px;
    padding: 0px;
    width: 125px;
    height: 200px;
    overflow: hidden;
    justify-self: center;
    
}

.tarjetas__tamano:hover{
    transform: scale(1.02);
}

.tarjetas__radio{
    border-radius: 20px;
    box-shadow: #4f4f4f 7px 3.5px 7px;
    border:0px;
}

.imagen__radio{
    padding-top: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title{
    background-color: yellow;
    font-style: italic;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center; 

}
.footer{
    background-color: #FEC700;
    color: black;
    padding: 25px;
    grid-area: footer;
    height: 100%;
    
}
/*--------------------------------------para TABLET*/
@media only screen and (min-width: 600px){
    body{
        display: grid;
        grid-template-columns: 2fr 7fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
        "nav banner"
        "nav buscador"
        "footer footer";
    }
    nav{
        
        display: flex;
        flex-flow: column;
        position:sticky;
        top: 0px;
        height: calc(100% - 70px);
        overflow: scroll;
        justify-content:stretch;
        grid-area: nav;
        
    }

    .logo img {
        width: 200px;
        height: 100px;
        position: relative;
        
        
        
    }
    

    .menu{
        display: flex;
        flex-flow: column;
        margin-left: 10px;
        
                
    }
    

    .lista li{
        display: flex;
        flex-flow: column;
        list-style: none;
       border-bottom: 1px solid rgba(255, 255, 255, .5);
        top: 100px;
        
    }

    .lista li a{
        display: flex;
        flex-flow: column;
        color: lavender;
        text-decoration: none;
        
    }

    .menu ul ul{
        display: flex;
        flex-flow: column;
        display: none;
    }
    

    .burger{
        display: none;
    }

    .banner{
        margin-top: 0px;
        
        
    }

    article{
        width: 100%;
        height: 100%;
    }

    .buscador{
        padding-top: 50px;
        height: 250px;
        justify-self: center;
        position:sticky;
        top: 0px;
        margin-top: 100px;
        

        
        
    }

    .tarjetas__tamano{
        border: 0px;
        border-radius: 30px ;
        margin: 15px;
        padding: 0px;
        width: 200px;
        height: 550px;
        overflow: hidden;
        justify-self: center;
        box-shadow: #4f4f4f 10px 5px 10px;
        
    }

    .tarjetas__radio{
        border-radius: 20px;
        
        border:0px;
    }


    footer{
        height: 100%;
        grid-area: footer;
        display: flex;
        flex-flow: column;
    }

    .footer{
        height: 100%;
        display: flex;
        flex-flow: column;
        position: relative; 
       
    }
    
}
/*--------------------------------------para compu escritorio*/
@media only screen and (min-width: 1020px){

    body{
        
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "nav nav nav"
        "banner banner banner"
        "buscador buscador buscador"
        "footer footer footer";
   }

   header{
       padding-top: 65px;
   }

   .formulario{
       margin: 100px;
       padding: 30px;
       border: 2px solid black;
       border-radius: 5px;
       width: 600px  ;
       height: 260px;
       justify-self: center;
       top: 150px;
       background-color: orange;
      
   }


   nav{
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0px;
        display: flex;
        flex-flow: row;
        z-index: 1 ;
        padding-top: 0px;
        overflow:visible;
        
   }

   .logo img{
    width: 100%;
    height: 100%;
    
    padding: 10px;
    margin: 10px;
        
}

   .menu{
       
       display: flex;
       flex-flow: row;
       width: 100%;
       
       position: relative;
       

   }

   .menu ul {
       
        width: 100%;
        display: flex;
        flex-flow: row;
        position: relative;
        justify-content: space-evenly;  
        
   }

   .menu ul li{
       
    display: flex;
    flex-flow: row;
    list-style: none;
    border-top: none;
    border-bottom: none;
    
    
}   


   .lista li a:hover{
    display: flex;
    flex-flow: row;
       background-color: #FEC700;
       color: black;
       
   }

   .menu ul ul {
        display: flex;
        flex-flow: column;
       display: none;
       position: absolute;
       top: 20px    ;
   }

   .menu ul ul li {
    display: block;
    }
   

   .menu ul li:hover ul{
       display: flex;
       flex-flow: column;
       position: absolute;
       background-color: black;
       z-index: 99;
       height: 100px;
       width: 300px;
       
   }

   .menu ul ul li:hover a{
    display: flex;
    flex-flow: column;
       background-color: #FEC700;
       width: 300px;
       height: 200px auto;
   }

   .menu ul ul li a{
       display: flex;
       flex-flow: column nowrap;
       width: 100%;
       top: 10px;
       
   }
   

   

   .display p{
     text-align: center;
     padding: 100px;
     
   }

    .buscador{
        
        
        border-radius: 10px;
        background-color: rgba(230, 230, 250, 0.644);
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 2rem;
        text-align: center;
        margin: 70px;
        grid-area: buscador;
        padding-top: 30px;
        
        
        
        
    }

    .cajaBuscador{
        width: 50%;
        display: flex;
        flex-flow: column;
        text-align: center;
        margin-left: 25%;
    }


    .tarjetas{
        padding: 10px;
        position: relative;
    }


    .tarjetas__tamano{
        border: 0px;
        border-radius: 30px ;
        margin: 15px;
        padding: 0px;
        width: 250px;
        height: 400;
        overflow: hidden;
        justify-self: center;
        
        
    }

    .tarjetas__radio{
        border-radius: 20px;
        box-shadow: #4f4f4f 7px 3.5px 7px;
        border:0px;
    }


    .footer{
        height: 100%;
        grid-area: footer;
        padding: 25px;
        grid-area: footer;
        width: 100%;

    }


    
/*------Quienes Somos*/

.quienes{
    background-image: url('media/wide.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 70px;
    margin-top: 70px;
    
    grid-area: banner;
    
    
    

    
}




}
    









/* - -----------------------------------------Contenido en Quienes Somos*/



/*------------------------------------------- pagina contacto*/


/*------------------------------------------- pagina perfil*/